/* CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.25;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Properties */
:root {
    --col-white: rgb(240, 225, 201);
    --col-grey: rgb(73, 64, 51);
    --col-dorange: #6e1602;
    --col-lorange: #E04A29;
    --col-black: rgb(20, 20, 20);
  }

/* Global Styles */
@font-face {
    font-family: 'Norse';
    src: url('https://heqamaat.github.io/odin-recipes/fonts/Norse.woff2') format('woff2');
  }

@font-face {
    font-family: 'Norse Bold';
    src: url('https://heqamaat.github.io/odin-recipes/fonts/Norsebold.woff2') format('woff2');
  }

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Jost';
    font-size: 1.1rem;
    font-weight: 300;
    background: linear-gradient( 160deg, rgba(20,20,20, 0.8), rgba(73, 64, 51, 0.7)),url('https://heqamaat.github.io/odin-recipes/images/fire-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: var(--col-black);
    color: var(--col-white);
}

body a {
    color: var(--col-white);
    text-decoration: none;
}

p {
  text-indent: 2rem;
}

/* Header/Navigation Bar */

#navbar {
    background-color: var(--col-dorange);
    position: sticky;
    top: 0;
    z-index: 10;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.logo {
    height: 50px;
    display: inline-block;
}

h1 {
    font-family: 'Norse';
    font-size: 3em;
    display: inline-block;
    text-shadow: 1px 1px black;
}

h1 a {
    text-decoration: none;
}

/* Overlay Menu Styles from W3Schools */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(110,22,2);
  background-color: rgba(110,22,2   , 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay ul, .overlay li {
  list-style-type: none;
  margin: 0;
	padding: 0;
	border: 0;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: var(--col-white);
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: var(--col-grey);
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


/* Main Styles */
main {
    width: 88%;
    margin: 3rem auto;
    padding: 1rem;
    background-color: var(--col-black);
    border-radius: 2px;
}

main img {
    width: 100%;
}

h2 {
    color: var(--col-lorange);
    font-family: 'Norse Bold';
    font-size: 2.33rem;
  }

ul {
  list-style-type: square;
}

li {
  line-height: 150%;
}


/* Action Button Styles from https://getcssscan.com/css-buttons-examples */
.button-89 {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    
    padding: calc(1em + var(--s)) calc(2em + var(--s));
    color: var(--col-lorange);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--col-lorange) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    font-weight: 600;
    margin: auto;
    display: block;
    cursor: pointer;
  }
  
  .button-89:hover,
  .button-89:focus-visible{
    --_p: 0px;
    outline-color: var(--col-lorange);
    outline-offset: .05em;
  }
  
  .button-89:active {
    background: var(--col-lorange);
    color: #fff;
  }


/* Footer Styles */
footer {
    margin-top: auto;
    width: 100%;
    background-color: rgba(20,20,20, 0.2);
    color: var(--col-white);
    text-align: center;
    font-weight: 400;
    padding: .5rem 0;
    opacity: .9;
}

  

/* Mobile and Portrait Tablet Viewport */

/* Mobile: Main Homepage Styles */
#homepage {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto;
  gap: 20px;
  align-items: center;
}

#grid-skause {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#intro {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

#grid-flatbread {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

#action {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    align-self: end;
}

#grid-elderberry {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
}

#homepage h2 {
  padding: 20px 0;
}

/* Mobile: Main Recipe and Contact Styles */
#recipe, #contact {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
  align-items: center;
}

#recipe h2, #contact h2 {
  padding-top: 15px;
  padding-bottom: 10px;
}

#recipe p, #contact p {
  margin-bottom: 30px;
}

#recipe p:last-child, #contact p:last-child {
  margin-bottom: 0;
}

#credit a, #contact a {
  color: var(--col-lorange);
  font-weight: 600;
}


/* Mobile: Recipe Only Styles */
#recipe h3 {
  font-family: 'Norse';
  font-size: 1.5rem;
  border-left: 4px solid var(--col-lorange);
  padding-left: 10px;
}

#recipe img {
  padding: 3%;
  max-width: 94%;
  background-color: var(--col-white);
  box-shadow: 3px 2px 8px rgb(0,0,0), 0 0 15px rgba(200,200,200,.5);
}

#ingredients, #directions {
  align-self: start;
}

#credit {
  justify-self: center;
  margin-bottom: 30px;
}

#credit p {
  text-indent: 0;
  margin-bottom: 0;
}

/* Mobile: Contact Only Styles */
#contact-top, #suggestions, #about-me {
  margin-bottom: 30px;
}

#contact h3 {
  display: block;
  margin: 10px auto;
  font-weight: 600;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

h3 span {
  border-left: 4px solid var(--col-lorange);
  padding: 0 10px;
}

#contact img {
  display: block;
  height: 65px;
  width: 65px;
  margin: auto;

}

input, select, label, textarea {
  display: block;
  width: 100%;
}

label {
  margin: 10px 0;
  font-weight: 400;
}

/* Desktop Viewport */
@media (min-width: 780px) {
    
    /* Desktop: Main Homepage Styles */
    #homepage {
        grid-template-columns: auto auto;
        grid-template-rows: 30% 30% 30%;
        padding: 1.5rem;
    }

    #intro {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }

    #action {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        padding-bottom: 20px;
    }

    #grid-skause {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }
    
    #grid-flatbread {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }
    
    #grid-elderberry {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }

    /* Desktop: Main Recipe Styles */
    #recipe {
      grid-template-columns: 35% auto;
      padding: 1.5rem;
    }

    #recipe h2 {
      grid-column: 1 / span 2;
    }

    #credit {
      grid-column: 1 / span 2;
      margin: 0;
    }

    #recipe img {
      transform: rotate(-1.5deg);
    }

    #recipe section {
      padding: 20px;
    }

  /* Desktop: Main Contact Style */
  #contact {
    grid-template-columns: 30% 35% 30%;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: start;
    text-align: justify;
  }

  #contact img {
    padding-bottom: 10px;
  }

  #contact-top {
    grid-column: 1 / span 3;
  }

  #contact-top p {
    text-indent: 0;
  }

  #resources, #suggestions, #about-me {
    padding: 2%
  }


}
